name: Auto Update Fancode M3U

on:
  schedule:
    - cron: "*/15 * * * *"   # every 15 min
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install deps
        run: pip install requests

      - name: Generate M3U
        run: python scripts/json_to_m3u.py

      - name: Commit & Push
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add fancode.m3u
          git commit -m "Auto update fancode m3u" || exit 0
          git push
